body {
 padding: 0px;
 margin: 0px;
}

.page-content {
  word-wrap: break-word;
}

/*#title-bar {
 -webkit-app-region: drag;
 height: 24px;
 background-color: darkviolet;
 padding: none;
 margin: 0px;
}*/

header#title-bar {
  -webkit-app-region: drag;
}

#title {
 position: fixed;
 top: 0px;
 left: 6px;
}

.uoy-button, .mdl-layout__drawer-button{
 -webkit-app-region: no-drag;
 position: absolute;
 bottom: 0px;
 right: 6px;
}
