body {
 padding: 0px;
 margin: 0px;
}

.page-content {
  word-wrap: break-word;
}

header#title-bar {
  -webkit-app-region: drag;
}

#title {
 position: fixed;
 top: 0px;
 left: 6px;
}

#main-frame, #main-frame-holder {
  z-index: 1;
}

.ytapp-button, .mdl-layout__drawer-button {
 -webkit-app-region: no-drag;
 position: absolute;
 bottom: 0px;
 right: 6px;
}

.ytapp-popup#enter-url {
  position: absolute;
  top: 50%;
  margin-top: -108px;
  z-index: 3;
  opacity: 0;
  margin-left: -256px;
  left: 50%;
  width: 512px;
  transition-property: opacity;
  visibility: visible;
  pointer-events: none;
}

.ytapp-button#enter-url__showhide {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 3;
}

.ytapp-popup#enter-url > .mdl-card__title {
  color: #fff;
  background: rgb(244,67,54) center / cover;
}

#enter-url__obfuscator {
  position: absolute;
  top: 0;
  background-color: rgba(0,0,0,.5);
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity .25s ease-in;
  visibility: visible;
  pointer-events: none;
  z-index: 2;
}

#nav-divider {
  margin: 16px;
  background-color: #e2e2e2;
  height: 1px;
}
