div.ytapp-holder {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
div#suggestion-holder {
  background-color: white;
  width: 350px;
  height: 100px;
  margin-left: 864px;
  margin-top: -480px;
}

div#video-suggestion-content-comments-holder {
  position: relative;
  height: 480px;
  margin-left: -582px;
  left: 50%;
  margin-top: 20px;
}

div#content-holder {
  width: 854px;
  height: 480px;
  margin-top: 390px;
}

div#description-holder {
  background-color: white;
  width: 824px;
  height: 92px;
  padding: 15px 15px 15px 15px;
  margin-bottom: 10px;
  overflow: hidden;
  word-wrap: break-word;
}

div#video-holder {
  width: 854px;
}

div#info-holder {
  background-color: white;
  width: 824px;
  height: 135px;
  padding: 15px 15px 5px 15px;
  margin-bottom: 10px;
}

h1.ytapp-video-title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0px 0px 0px;
  font-size: 24px;
}

div#video-channel {
  width: 824px;
  height: 48px;
  padding: 10px 0px 10px;
}

div#action-buttons {
  width: 824px;
  height: 28px;
  padding: 5px;
  border-top: 1px solid #e2e2e2;
}
